html, body {
    height: 100%;
    display: flex;
    margin: 0px;
}

.leftSide {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 30vw;
    justify-content: space-between;
}

.rightSide {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 70vw;
}

.mountains {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 30vw;
    z-index: -1;
}

.sidebar {
    display: flex;
    background-color: black;
    opacity: .30;
    margin-top: 20vh;
    justify-content: center;
}

.odin {
    height: 10vh;
    width: 10vw;
    align-self: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.sidetext {
    color: white;
    font-size: 2.5vw;
    align-self: center;
}

.creator {
    font-size: 2vh;
    text-align: center;
}